*{
    margins: 0 auto; pading: 10px;
}

h1{
    border: 1px solid black;
}
h2{
    text-align: center;
}
nav{
    display: flex;
    width: 100%;
    margin: auto;
    padding: 20px 30;
    align-items: center;
    justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 3px 20px;
    font-weight: bold;
    align-content: end;
    
}
nav ul li a{
    text-decoration: none;
    color:black
    font-weight: bold;

}
nav ul li a:hover{
    color:red;
}